# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

# jrebel #
src/main/resources/rebel.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Package Files #
*.jar
*.war
*.ear

# log file
logs/
*.log

# npm #
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# npm customer direction #
webapp/public/
webapp/views/

# npm --- Editor directories and files #
*.suo
*.ntvs*
*.njsproj
*.sln
